body,
html {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Papyrus", fantasy;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen > * {
  width: 100%;
  height: 100%;
}

.menuHud {
  width: 100%;
  height: 100%;
  position: fixed;
}

.startGameText {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
}

.startGameText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.inGameHud {
  display: none;
}

.overlay {
  position: fixed;
  left: 20px;
  top: 20px;
}

.hudAmmo {
  position: fixed;
  right: 20px;
  bottom: 20px;
}


.hudCross{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

a.back {
  display: block;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a.back:hover {
  background: #ddd;
}

a.ammo {
  display: block;
  font-weight: bold;
  font-size: large;
  padding: 5px 10px;
  background: #fff;
  color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}

a.cross {
  display: block;
  font-weight: bold;
  font-size: xx-large;
  padding: 5px 10px;
  color: rgb(255, 0, 200);
}

.hudInfoText {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 20vh;
  font-size: x-large;
  color: white;
}

.hudHealth {
  position: fixed;
  top: 7vh;
  right: 20px;
  display: flex;
  width: 220px;
  height: 30px;
  align-items: center;
}

.fullHealth {
  display: block;
  width: 100%;
  height: 100%;
  color: #000 !important;
  background-color: #f1f1f1 !important;
  margin-left: 4px;
}

.myHealth {
  width: 100%;
  height: 100%;
  color: #fff !important;
  background-color: #4caf50 !important;
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 0px;
  line-height: 20px;
}

.hudMoney {
  position: fixed;
  top: 11vh;
  right: 20px;
  display: flex;
}

.myMoney {
  font-weight: bold;
  margin-left: 4px;
  font-size: 19px;
}

#hudWarningText {
  position: fixed;
  width: 100%;
  text-align: center;
}

#warningText {
  font-size: x-large;
  color: white;
}

.hudCountdown {
  position: absolute;
  left: 50%;
  top: 3vh;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: none;
  color: red;
}

.hudWaveNr {
  position: absolute;
  left: 3vw;
  top: 3vh;
  font-size: 27px;
  font-weight: bold;
  color: rgb(204, 184, 0);
}

.hudGameOver {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: rgba(255, 0, 0, 0.1);
}

.gameOverText {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 70px;
}

.playAgainText {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
}

.playAgainText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.moving {
  -webkit-animation: moving 3s;
  animation: moving 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fading {
  -webkit-animation: fading 2s;
  animation: fading 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes moving {
  from {
    bottom: 40vh;
  }
  to {
    bottom: 50vh;
  }
}

@keyframes moving {
  from {
    bottom: 40vh;
  }
  to {
    bottom: 50vh;
  }
}

@-webkit-keyframes fading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
